<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur enim soluta saepe temporibus, ipsam ratione nostrum ea cumque commodi quos?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur enim soluta saepe temporibus, ipsam ratione nostrum ea cumque commodi quos?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur enim soluta saepe temporibus, ipsam ratione nostrum ea cumque commodi quos?</p>
    </div>

    <%- include("./partials/footer.ejs") %>
</body>
</html>